.login-wrapper {
    font-size: 1,2rem;
    inline-size: max(25vw, 400px);

    border: 5px outset green;
    box-shadow: inset 0 0 10px rgb(36, 185, 44);

    display: flex;
    margin: 5vh auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1,2rem;
}

.LogInButton {
    padding-block: 3vh;
}

.login-wrapper div button {
    background-color: rgb(28, 145, 33);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;

    cursor: pointer;
}

label p {
    text-align: left;
    padding: 0;
    margin-block: 3vh 0;

}

label input {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 40px;
    margin-bottom: 3px;
    padding: 0 8px;
    vertical-align: baseline;
    width: 100%;
}