#AnimePageLayout {
    margin: 5vh auto;
    width: 70%;
}

#MainTitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.AnimeInformationPage {
    padding: 1vh 1vw;
    
    display: grid; 
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: max(15vh, 1fr) max(45vh, 3fr);
    gap: 20px 20px; 
    grid-template-areas: 
    "AnimeImage AnimeDescription"
    "SocialButtons SocialButtons"
    "AnimeBasicInformation AnimeDetails";
}

.animeImage {
    grid-area: AnimeImage;
    align-self: stretch;
}

.animeImage > img {
    border-radius: 5%;
    max-width: 100%;
    min-width: 250px;
    height: auto;
}

@media screen and (max-width: 960px) {
    #AnimePageLayout {
        margin: 5vh auto;
        
        width: 95%;
    }

    .AnimeInformationPage {
        display: grid; 
        grid-template-columns: 1fr 3fr; 
        grid-template-rows: max(15vh, 1fr) max(45vh, 3fr);
        grid-template-areas: 
        "AnimeImage AnimeImage"
        "SocialButtons SocialButtons"
        "AnimeDescription AnimeDescription"
        "AnimeBasicInformation AnimeDetails";
    }
}