#AnimePageLayout {
    margin: 5vh auto;
    width: 60%;
}

#MainTitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.AnimeInformationPage {
    padding: 1vh 1vw;
    

    display: grid; 
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: max(15vh, 1fr) max(45vh, 3fr);
    gap: 2% 4%; 
    grid-template-areas: 
    "AnimeImage AnimeDescription"
    "AnimeBasicInformation AnimeDetails"
    "AnimeBasicInformation AnimeDetails";
}

.animeImage {
    grid-area: AnimeImage;
    align-self: stretch;
}

.animeImage > img {
    border-radius: 5%;
    max-width: 100%;
    height: auto;
}

.AnimeDescription {
    grid-area: AnimeDescription;
    text-align: start;
}

.AnimeDescription :not(:last-child) {
    flex-grow: 1;
}

.AnimeDescription .reactionButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    color: white;

    margin-bottom: 3%;
}

.AnimeDescription .reactionButtons .selectStatus {
    max-width: 150px;
    font-size: 0.8rem;
}

.AnimeDescription .reactionButtons .favouritedButton {
    border-radius: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 45px;
}

.AnimeDescription .reactionButtons .selectEpisodes {
    width: 150px;
    font-size: 0.8rem;
}

.favouritedButton.liked {
    background-color: rgb(230, 61, 61);
}

.favouritedButton.notLiked {
    background-color: rgb(82, 122, 243);
}

.AnimeBasicInformation { 
    grid-area: AnimeBasicInformation;

    width: 80%;
    justify-self: center;
    font-size: 0.9rem;
}

.AnimeBasicInformation > div {
    padding-bottom: 10%;
}

.AnimeBasicInformation div :nth-child(odd) { 
    text-align: start;
}

.AnimeBasicInformation div :nth-child(even) { 
    text-align: end;
}

.AnimeDetails { 
    grid-area: AnimeDetails;
    align-self: stretch;
    align-items: flex-start;
}

.AnimeDetails > * {
    padding-bottom: 5%;
}

#Section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5%;
    justify-items: flex-end;
}

.SectionItem {
    height: 150px;
    display: flex;

    position: relative;
}

.SectionItem img {
    object-fit: fill;
    height: 150px;
    max-width: 130px;
    border-radius: 5%;
}

.SectionItemInfo {
    width: 200%;
    height: 99%;

    position: absolute;
    display: none;
    opacity: 0;
    font-size: 0.7rem;
    color: black;

    text-align: start;
    user-select: none;

    transform: translate(49.5%);
    z-index: 2;

    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%
}

.SectionItemInfo.withMoreWidth {
    width: 280%;
    transform: translate(35.6%);
}

.SectionItem:hover img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.SectionItem a:hover + .SectionItemInfo, .SectionItem img:hover + .SectionItemInfo {
    background-color: white;
    border: 1px solid green;
    border-left: none;
    display: block;
    opacity: 1;
}

.SectionItemInfoInfoValue {
    height: 87%;

    padding: 5%;
    display: flex;
    flex-direction: column;
}

.SectionItemInfoInfoValue :last-child {
    margin-top: auto;
}


.SectionItemInfoWithPicture {
    height: 100%;

    display: flex;
    justify-content: flex-end;
}

.withPicture {
    display: flex;
}

.SectionItemInfoWithPicture :first-child {
    margin-right: auto;
}

.SectionItemInfoWithPicture div :nth-last-child(2) > * {
    text-align: right;
}

.SectionItemInfoWithPicture :not(:last-child) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2%;
}

.SectionItem:hover .SectionItemInfoWithPicture img {
    height: 100%;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}


.rowWrapper {
    display: contents;
}

.rowWrapper > .SectionItem {
    display: none;
}

.noPointer {
    cursor: default;
}

.linkPointer {
    cursor: pointer;
}

.unCopyable {
    user-select: none;
}

@media screen and (max-width: 960px) {
    #AnimePageLayout {
        margin: 5vh auto;
        
        width: 95%;
    }

    .AnimeInformationPage {
        display: grid; 
        grid-template-columns: 1fr 3fr; 
        grid-template-rows: max(15vh, 1fr) max(45vh, 3fr);
        gap: 2% 4%; 
        grid-template-areas: 
        "AnimeImage AnimeImage"
        "AnimeDescription AnimeDescription"
        "AnimeBasicInformation AnimeDetails"
        "AnimeBasicInformation AnimeDetails";
    }

    .AnimeBasicInformation > div {
        padding-bottom: 12%;
    }

    #Section {
        display: grid;
        grid-template-columns: repeat(1, min-content);
        justify-content: center;
        grid-gap: 20px;
        margin-left: -300px;
    }

    .SectionItem {
        justify-content: flex-end;
    }

    .SectionItem img {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .SectionItemInfo {
        width: 300px;
    }

    .SectionItemInfo {
        background-color: white;
        border: 1px solid green;
        border-left: none;
        display: block;
        opacity: 1;

        transform: translate(100%);
    }

    .SectionItemInfo.Character {
        width: 300px;
    }
    
    .SectionItemInfo.withMoreWidth {
        width: 300px;
        transform: translate(100%)
    }

    .SectionItemInfoWithPicture img {
        height: 100%;
    
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
    }
}