.AnimeDescription {
    grid-area: AnimeDescription;
    text-align: start;
}

.AnimeDescription :not(:last-child) {
    flex-grow: 1;
}

.AnimeDescription .reactionButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    color: white;

    margin-bottom: 3%;
}

.AnimeDescription .reactionButtons .selectStatus {
    max-width: 150px;
    font-size: 0.8rem;
}

.AnimeDescription .reactionButtons .favouritedButton {
    border-radius: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 45px;
}

.AnimeDescription .reactionButtons .selectEpisodes {
    width: 150px;
    font-size: 0.8rem;
}

.favouritedButton.liked {
    background-color: rgb(230, 61, 61);
}

.favouritedButton.notLiked {
    background-color: rgb(82, 122, 243);
}