.userAnimeInformation {
    grid-area: SocialButtons;
}

.mainAnimeInformationForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr; 
    grid-template-rows: 1fr 1fr; 
    row-gap: 60px;
    grid-template-areas: 
    "isFavourite watchStartDate watchEndDate review"
    "episodesSeen status opinion review";
    margin-bottom: 3vh; 
    justify-content: center;
}

.isFavourite {
    grid-area: isFavourite;
}

.watchStartDate {
    grid-area: watchStartDate;
}

.watchEndDate {
    grid-area: watchEndDate;
}

.episodesSeen {
    grid-area: episodesSeen;
}

.status {
    grid-area: status;
}

.opinion {
    grid-area: opinion;
}

.review {
    grid-area: review;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 960px) {
    #AnimePageLayout {
        margin: 5vh auto;
        
        width: 95%;
    }

    .mainAnimeInformationForm {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-template-areas: 
        "isFavourite status"
        "watchStartDate watchEndDate"
        "episodesSeen opinion"
        "review review";
    }

    .mainAnimeInformationForm > * {
        width: 40%;
    }
}