#MainRankingContainer {
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.Rankings {
    display: flex;
    height: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
}

.Rankings > div {
    padding: 10px;
    margin: 0;
    margin: max(1vw, 1vh);
    border-radius: 7px;
    background-color: rgb(34, 206, 43);
    color: white;
    cursor: pointer;
}

.Rankings > div:hover {
    background-color: rgb(56, 133, 49);
    transition: all 0.2s ease-out;
}

.Rankings > div:active {
    background-color: rgb(47, 100, 42);
    transition: all 0.2s ease-out;
}