.UserStatisticInformationArrayElement {
    margin-bottom: 10%;
}

.UserStatisticInformationArrayElement > :first-child {
    text-align: start;
}

.UserStatisticInformationArrayElement > :last-child {
    text-align: end;
}