.animeLink {
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.animeLink a {
    margin-inline: 0.5vh;
    display: inline-block;
    color: black;
    text-decoration: none;

    height: max(30vh, 300px);
}

.animeLink a:first-child {
    margin-inline-start: 0;
}

.animeLink a div {
    position: absolute;
    z-index: 1;
}

.animeLink a div span {
    position: relative;
    left: -15px;
    top: -10px;
    width: 40px;
    height: 40px;

    background: rgb(85, 219, 92);
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.animeLink a div:hover {
    color: black;
    text-decoration: none;
}

.animeLink a img {
    border-radius: 25px;
    display: block;
    max-height: 90%;
    width: auto;
    height: auto;
}

.animeLink a p {
    display: block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.7rem;
    text-align: left;
    left: 5%;
    max-width: max(11vw, 150px)
}

.animeLink a p::before {
    content: attr(title);
}