#Thread {
    margin-block: 2vh;
    border: 1px solid rgb(34, 206, 43);
    border-radius: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "ThreadStatus ThreadStatus" 
    "ThreadTitle ThreadCreator"
    "ThreadText ThreadText"
    "ThreadTimes ThreadCategory"
    "ThreadReactForm ThreadTags"
    "ThreadEditText ThreadTags"; 
    justify-content: stretch; 
    align-content: stretch; 
    justify-items: stretch; 
    align-items: start; 
    width: 100%; 
}

#Thread > *:not(:first-child) {
    padding: 0 10px 10px 10px;
}

#Thread > :nth-child(2n) {
    text-align: left;
}

#Thread > :nth-child(2n + 3) {
    text-align: right;
}

.ThreadStatus { grid-area: ThreadStatus; }
.ThreadTitle { 
    grid-area: ThreadTitle;
    word-break: break-all;
}
.ThreadCreator { grid-area: ThreadCreator; }
.ThreadText { 
    grid-area: ThreadText; 
    word-break: break-all;
}
.ThreadTimes { 
    grid-area: ThreadTimes;
    font-size: 0.7rem;
}
.ThreadCategory { grid-area: ThreadCategory; }
.ThreadTags { grid-area: ThreadTags; }

.ThreadReactForm {
    grid-area: ThreadReactForm;
}

.ThreadLink {
    font-size: 1.2rem;
    color: rgb(54 192 61);
}

.ThreadLink:hover {
    cursor: pointer;
    color: rgb(54 192 61);
    text-decoration: underline;
}

.ThreadLink:active {
    color: rgb(47, 100, 42);
}

.ThreadEditText {
    grid-area: ThreadEditText;
    text-align: start;
    margin-block-end: 0;
    align-self: flex-end;
    font-size: 0.8rem;
    cursor: pointer;
    color: rgb(34, 206, 43);
}

#Posts {
    margin-block: 2vh;
}

.NewElementButtons {
    display: flex;
    gap: 10px;
    justify-content: center;

    position: -webkit-sticky;
    position: sticky;

    bottom: 10px;
}