.SimpleThread {
    margin-block: 2vh;
    border: 1px solid rgb(34, 206, 43);
    border-radius: 10px;
    align-items: center;
}

.SimpleThread > *:not(.Status) {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.SimpleThread > * > * {
    max-width: 50%;
}

.LinkAndCreator > * {
    font-size: 1.2rem;
    padding: 5px;
    color: rgb(54 192 61);
}

.LinkAndCreator > :first-child {
    text-align: left;
}

.LinkAndCreator > :hover {
    cursor: pointer;
    color: rgb(54 192 61);
    text-decoration: underline;
}

.LinkAndCreator > :active {
    color: rgb(47, 100, 42);
}

.DatesAndCategory > * {
    align-self: center;
}

.DatesAndCategory > :first-child {
    font-size: 0.7rem;
    text-align: start;
}

.PostsAndTags {
    align-items: center;
}