.SimpleThread {
    margin-block: 2vh;
    border: 1px solid rgb(34, 206, 43);
    border-radius: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "ThreadStatus ThreadStatus" 
    "ThreadTitle ThreadCreator"
    "ThreadTimes ThreadCategory"
    "ThreadReactForm ThreadTags"
    "ThreadPosts ThreadTags"; 
    justify-content: stretch; 
    align-content: stretch; 
    justify-items: stretch; 
    align-items: start; 
    width: 100%; 
}

.SimpleThread > *:not(:first-child) {
    padding: 0 10px 10px 10px;
}

.SimpleThread > :nth-child(2n) {
    text-align: left;
}

.SimpleThread > :nth-child(2n + 3):not(.ThreadPosts) {
    text-align: right;
}

.ThreadStatus { grid-area: ThreadStatus; }
.ThreadTitle { 
    grid-area: ThreadTitle;
    word-break: break-all;
}
.ThreadCreator { grid-area: ThreadCreator; }
.ThreadTimes { 
    grid-area: ThreadTimes;
    font-size: 0.7rem;
}
.ThreadCategory { grid-area: ThreadCategory; }
.ThreadReactForm { grid-area: ThreadReactForm; }
.ThreadPosts { 
    text-align: left;
    grid-area: ThreadPosts;
 }
.ThreadTags { grid-area: ThreadTags; }

.ThreadLink {
    font-size: 1.2rem;
    color: rgb(54 192 61);
}

.ThreadLink:hover {
    cursor: pointer;
    color: rgb(54 192 61);
    text-decoration: underline;
}

.ThreadLink:active {
    color: rgb(47, 100, 42);
}