.seasonalAnimeContainer {
    position: relative;
    width: 80%;
    height: 30vh;
    margin: 3vh auto;
}

/* Hover Buttons */

.buttonHover {
    position: absolute;
    display: inline-block;
    width: max(2.5vw, 40px);

    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.9);
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 2rem;
    padding: 0.3rem;
    text-align: 25%;
    cursor: pointer;
}

.buttonHover.buttonLeft {
    left: 0;
    top: 55%;
    transform: translate(0, -50%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
}

.buttonHover.buttonRight {
    right: 0;
    top: 55%;
    transform: translate(0, -50%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.seasonalAnimeContainer:hover .buttonHover {
    opacity: 1;
}